.active{
  background-color: rgb(34 197 94 );
  color: aliceblue;
  font-size: medium;
  font-weight: bold;
}
.user-container {
    position: relative;
   
    width: 50px;
    height:50px;
  }
  .user-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .user-container:hover .user-name {
    visibility: visible;
    opacity: 1;
  }